<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        console.log("I am in javascript");
        
        $(function() {
          $('#log').bind('click', function() {
            console.log("I GOT CLICKED");
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });


        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            console.log("I am inside function");
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            
            socket.on('message', function(msg){
                console.log(msg.time)
                $('#test').html('<p>' + msg.time + '</p>');
                 socket.emit('message','hi')
            });
            
            
            
          
        });
    </script>
</head>
<body>
    <h3>Demo-Flask-SocketIO</h3>
    <p id='test'> Hello </p>
    <button id="log">Start Logging</button>
</body>
</html>